<h1>EE-Chatへようこそ！</h1>
<h2>ゆっくりしていってね！ <%= @current_user.name %> さん</h2>

<% if @current_user.name == "ゲスト" %>
	<%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% else %>
	<%= link_to "Sign out", "/sessions/destroy" %>
<% end %>

<div class="scr" id='scr'>
	<p id='chatfield'></p>
</div><br>

<%= form_tag(url_for(:controller => :room, :action => :index), :remote => true, :method => :post) do %>
  <input type="text" name='text' id="text_content" />
  <input type="submit" name="submit" value="送信" /></p>
<% end %>
