
<h1>Please send your message!!!</h1>

<input id="input" type="text" />
<div id="msg"></div>

<form method="post">
  <input type="text" name='text' id="text" />
  <input type="submit" name="submit" value="é€ä¿¡" /></p>
</form>
