
<h1>Please send your message!!!</h1>

<form controller='socket' action="create" method="post">
  <input type="text" name='text' id="text" />
  <input type="submit" name="submit" value="é€ä¿¡" /></p>
</form>
